{% extends 'base.html' %}

{% block title %}
<title>Acerca de...</title>
{% endblock %}

{% block titulo %} 
<h2>Informacion basica sobre cada funcion y la informacion en general:</h2>
{% endblock %}

{% block contenido %}
<h5>  Informacion: Se usa una base de datos sobre las emisiones estimadas de CO2 de cada pais por año.</h5>
<h5>  Listado: Muestra el top 10 de los paises con mayores emisiones de CO2 per capita.</h5>
<h5>  Listado del top: Muestra el top 10 de los paises con mayores emisiones de CO2 totales.</h5>
<h5>  Listado de algun pais: Muestra las emisiones totales y per capita de CO2 de dicho pais.</h5>
{% endblock %}


